<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <div id="form-box">
            <div id="header-section">  
                <h1>CONTACT US</h1>
                <h4>Please fill out all the listed information</h4>
            </div>
            <div class="form-section">
                <form method="POST" action="/contactus/submit">
                    Full Name: <br>
                    <input type="name" name="Insert Name"><br>
                    E-mail:    <br>
                    <input type="email" name="Insert E-mail"><br>
                    Message:   <br>
                    <input id="message" name="Put in Message"><br>
                    <button type="submit">SUBMIT</button>
                </form>    
            </div>
    </div>
</body>
</html>