<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div id="submissions-page">
        <h1>Thank you for submitting all your information</h1>
        <h3>Name:</h3>
        <p><%= jireh.Name %></p>

        <h3>E-mail:</h3>
        <p><%= jireh.Email %></p>

        <h3>Message:</h3>
        <p><%= jireh.Message %></p>
    </div>
</body>
</html>